<app-header></app-header>




  <!-- ========== MAIN ========== -->
  <main id="content" role="main" style="min-height:-webkit-fill-available">
    <div class="container u-space-3-top--lg mb-5  d-block d-xs-none">

      <div class="container position-relativez-index-2 pos_titr mb-4">
        <div class="mx-auto">
          <h1 class="h4 text-primary" style="font-size: 1.7rem;">ONG</h1>
        </div>
      </div>
    </div>
    <div class="u-space-3-bottom">

      
    <div class="container" *ngIf="!loading">

        <div class="row align-items-md-center u-space-2 d-none d-sm-block">
            <div class="col-lg-12 mb-12 mb-lg-0">
              <form class="js-focus-state input-group u-form">
                <div class="input-group-prepend u-form__prepend">
                  <span class="input-group-text u-form__text">
                    <span class="fa fa-search"></span>
                  </span>
                </div>
                <input type="search" class="form-control u-form__input" [(ngModel)]="search" name="search" placeholder="Filtre par structures" aria-label="Search Front">
              </form>
            </div>
          </div>
        

      <div class="paginate uk-text-center d-none d-sm-block">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>        
        </div>

 <div class="row">
  <div class="col-md-6 col-lg-4 mb-7 mb-lg-0" style="margin-top: 22px;" *ngFor="let export of list |filter: search | paginate: { itemsPerPage: 7, currentPage: p }">
    <article class="bg-white shadow-sm rounded">
      <header class="p-6" style="background-color:#15315a; height:44px;">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <small class="d-block text-muted nom"> {{ export.structure }}</small>

          <a class="u-icon u-icon--sm u-icon-primary--air rounded-circle"  data-toggle="tooltip" data-placement="top">
            <i class="fas fa-map-marker-alt u-icon__inner " style="  margin-left: 0;color: #fff;"></i>
          </a>
          <span style="margin-left: -84px;color: #ffffff;" *ngIf="export.seat != '' "> {{ export.seat }} - {{ export.country }} </span>
        </div>

        
      </header>

      <hr class="my-0">

      <div class="p-6 body-card">
    
        <div class="row mb-7">
         
           <div class="col-12 mt-4">
            <div class="small text-muted">
             <i class="fas fa-phone fa-fw"></i>Téléphone: <strong class="text-secondary">    {{ export['telephone']}} </strong>
            </div>
          </div>

            <div class="col-12 mt-4">
            <div class="small text-muted">
             <i class="fas fa-envelope fa-fw"></i>e-mail: <strong class="text-secondary">{{export.email}}</strong>
             <strong *ngIf="!export.email" class="text-secondary"> indisponible </strong>
            </div>
          </div>
         
             <div class="col-12 mt-4">
            <div class="small text-muted">
             <i class="fas fa-globe fa-fw"></i>Site web: <strong class="text-secondary"><a target="_blank" href=" {{ export.website }} ">{{export.website}}</a></strong>
            </div> 
          </div>

        </div>

        <div></div>
      </div>
    </article>
  </div>


</div>




          <!--table class="table  table-hover" style="background-color:#ffffffe0; border-radius: 10px;">
            <thead>
              <tr>
                <th>Nom de la Structure</th>
                <th class="uk-text-center" >Pays</th>
                <th>Localisation</th>
                <th class="uk-text-center" >Direction générale</th>
                <!--th>Resistance de la variété</th--
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let export of list |filter: search | paginate: { itemsPerPage: 7, currentPage: p }">
                <td style="width:40vh" class="uk-text-center" ><small> {{ export.structure }}  </small></td>
                <td style="width:50vh" class="uk-text-center" ><small> {{ export.country }}  </small> </td>
                <td style="width:50vh"><small> {{ export['telephone']}}, {{export.email}}, {{export.website}} </small> </td>
                <td style="width:50vh" class="uk-text-center" ><small> {{ export.seat }} </small> </td>
                <!--td style="width:40vh"><small> {{ export.resistance }}  </small> </td--

              </tr>
                         
            </tbody>
           
          </table-->
        <div class="row justify-content-center">
          <div class="paginate uk-text-center d-none d-sm-block">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>        
        </div>
        </div>
    </div>
  </div>
  <div class="modal fade hauteur" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouvelle Recherche</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="js-focus-state input-group input-group-lg u-form u-form--lg u-form--position u-form--no-brd search mb-2">
              <div class="input-group-prepend u-form__prepend">
                <span class="input-group-text u-form__text">
                  <span class="fa fa-search u-form__text-inner"></span>
                </span>
              </div>
              <input type="search" class="form-control u-form__input form" [(ngModel)]="search" name="search" placeholder="Filtre par structures">
            </form>
  
  
      </div>
      <div class="modal-footer mb-4 col-xs-12 justify-content-center">
        <button type="button" class="btn btn-primary col-xs-12 fermer" data-dismiss="modal">
          Valider</button>
      </div>
    </div>
  </div>
</div>
  <div class="row justify-content-center u-space-5-top" *ngIf="loading" style="margin-top: 15vh;">
    <div id="testimonialsNavMain" class="js-slick-carousel js-slick-carousel u-slick u-content-centered-y p-4 mb-0 u-stroke-midnightblue load"
             data-infinite="true"
             data-autoplay="true"
             data-speed="5000"
             data-fade="true"
             data-nav-for="#testimonialsNavPagination">
              </div>
            </div>
    </main>
    <!-- ========== END MAIN ========== -->

<div class="text-center col-xs-12 mt-5 d-block d-sm-none fixed-bottom ">
  <button type="button" class="btn btn-primary searcher" style="margin-left: 19rem;" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >  <i class="fas fa-search" style="color:#fff"></i></button>
   <!--button type="button" class="btn btn-primary u-btn-primary u-btn-wide transition-3d-hover mb-4 w-93" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
   <i class="fas fa-search" style="color:#fff"></i>
   </button-->
 </div>
      <div class="d-none d-sm-block">
        <app-footer></app-footer>
      </div>          
