 <app-header></app-header>
<!-- ========== END HEADER ========== -->
<!-- ========== MAIN ========== -->
<main id="content" role="main">
  <!-- Description Section -->

  <!-- section processus de prédiction -->
  <div class="u-space-3-top u-space-0--lg position-relative">
      <div class="mt-9 text-right">
          <button type="button" class="btn btn-secondary"  routerLink="/prediction">Prediction</button>
    </div>
    <div class="d-lg-flex  min-height-100vh--lg position-relative">
        
      <iframe class="w-100 " src="http://41.86.244.168:5601/app/kibana#/dashboard/20c545e0-7b11-11e8-b760-ebb76b25a730?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'Fri%20Jun%2030%201995%2000%3A00%3A00%20GMT%2B0000'%2Cmode%3Aabsolute%2Cto%3A'Tue%20Jun%2030%202020%2012%3A00%3A00%20GMT%2B0000'))">

            </iframe>
    </div>
  </div>
  <!-- End Hero Section -->
  <!-- End Description Section -->
</main>

<!-- ========== FOOTER ========== -->
<app-footer></app-footer>
<!-- ========== END FOOTER ========== -->

