<app-header></app-header>
<main id="content" role="main">
  <!-- Form -->
  <div class="d-flex align-items-center position-relative min-height-100vh--lg">
    <!-- Navbar -->
    <header class="position-absolute-top-0 z-index-2">
      <nav class="d-flex justify-content-between align-items-center">
        <!-- Logo -->
      </nav>
    </header>
    <!-- End Navbar -->
    
    <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center u-gradient-half-primary-v1 min-height-100vh--lg px-0">
      <div class="w-100 p-5">
          <app-annonce></app-annonce>
      </div>
    </div>
   
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 u-space-2 u-space-0--lg">
            <!--<a class="justify-content-center" href="../home/index.html" aria-label="DUNIYA">
              <img src="../../assets/svg/logos/logo.png" class="cent_log" alt="Logo">
              img src="../../assets/svg/logos/Sans_titre.png" class="d-inline-block d-lg-none" alt="Logo"
            </a>-->
        
          <!-- Form -->
          <form class="js-validate mt-5">
            <!-- Title -->
            <div class="mb-7">
              
                
              <h2 class="h3 text-primary font-size-48--md-down font-weight-normal mb-0" style="font-size: 2rem;">Bienvenue sur <span class="font-weight-bold"> Duniya data</span></h2>
              <p>Plateforme libre de données agricole.</p>
                
              <!-- Button -->
            <!--div class="row align-items-center mb-5">
                <div class="col-6">
                    <button type="submit" [routerLink]="['/accueil']" class="btn btn-primary u-btn-primary u-btn-wide transition-3d-hover mb-4">Commencez <span class="fa fa-angle-right ml-2"></span></button>
                  <!--span class="small text-muted">Vous n'avez pas de compte?</span><br/>>
                </div>
              
              </div-->
              <!-- End Button -->
            
            </div>
            <!-- End Title -->
            <img src="./assets/svg/flat-icons/walking-man-flat-concept-illustration.svg" alt="SVG Illustration">
            <div class="col-lg-7 mb-7 mb-lg-0">
              
            </div>

          

          </form>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Form -->
</main>

