.search{
    /*width: 35%;*/
    background-color: gainsboro;
    height: 40px;
}
.w-70{
    width: 70%;
}

.research-background{
    background-color: #eaebefc7;
    border-radius: 100px;
}


.pos_titr {
    margin-left:70%;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {   
    .w-70{
        width: 100%;
    }
    .pos_titr {
        display: -webkit-box;
        margin-left: 0%;
    }
    .aff_chm {
        display: none;
    }
    .research-background{
        background-color: #eaebefc7;
        border-radius: 5px;
    }

    .form-pad{
        padding-top: 5%;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {    
    .w-70{
        width: 100%;
    }

    .research-background{
        background-color: #eaebefc7;
        border-radius: 5px;
    }

        
    .form-pad{
        padding-top: 5%;
    }
 }

 .cent_log{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:-50%;
    margin-bottom: 35%;
}